body{

	background-color:#f7f7f7;
}

header {
	border:hidden;
	height:320px;
	margin:20px 0;
}

nav {
	position:relative;
	top:140px;
}

nav ul{
	list-style: none;

}

header nav ul li{
	display:inline-block;
}

nav ul li a{
	text-decoration:none;
	color:#f3e9c5;
	font-size: 25px;
	border: solid;
	border-color:#aa8541;
	border-width:5px; 
	padding:10px;
	border-radius:20px 40px;
	background-color: #10404c;
	text-shadow: 4px 2px 6px #D3D3D3;
}

nav ul li a:hover {
	border-radius: 15px; 

}



article section img{
	margin:20px 0 0 0;
	padding:20px 0;
	border:double;
	border-radius:200px;
	border-color:#10404c;
	background-color: white;
}

article section img:hover {
	border-radius:50px;

}


article .grid_6 p{
	margin:60px 10px 30px 10px;
	font-size:16px;
	font-weight: bold;
	color:#12414b;

}

article .grid_12 p{
	margin:30px 60px;
	font-size:16px;
	font-weight: bold;
	color:#12414b;
}


footer{
	border:double;
	height:200px;
	background-color:rgb(18,65,75); 
	margin:60px 0 0 0;
	border-color:#AA8541;
	border-width: 10px;
}

footer p{
	padding:65px 60px;
	color:#f3e9c5;
	font-size:15px;
	text-align: center;
	text-shadow: 2px 2px 5px #D3D3D3;


}